body{
    text-align: center;
    position: fixed;
    background-color: rgb(35, 192, 212);
}
.inputData{
    border: 2px solid black;
    width: 350px;
    height: 400px;
    margin-left: 420px;
    margin-top: 30px;
    border-radius: 20px;
    position: fixed;
    background-image: url('https://i.pinimg.com/originals/e8/4e/5c/e84e5c2cb4c7f3592eacc0128a5365ed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    border: 2px solid black;
    border-radius: 200px;
    text-align: center;
    margin-left: 470px;
    height: 40px;
    width: 260px;
    margin-top: 50px;
    position: relative;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 12px;
    
}
